@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700");
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

/* 스타일 초기화 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
ul {
  list-style-type: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* CSS 모듈 */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

$main-color: white;

.hidden {
  display: none;
}

body {
  background-color: $main-color;
  width: 100%;
  font-family: 'Lato', sans-serif;
}

// Root
.root {
  position: relative;
  width: 1024px;
  margin: 0 auto;
  // background-color: skyblue;
}

.product-item {
  cursor: pointer;
}

// App bar & Nav bar link
.appbar__link,
.navbar__link {
  cursor: pointer;
  &:hover {
    color: green;
  }
}

// Application bar
.appbar {
  display: flex;
  border-top: 25px solid #c2d5dc;
  justify-content: space-between;
  // background-color: silver;
  width: 100%;
  height: 67px;
}

.logo {
  cursor: pointer;
  position: relative;
  color: #2c5a35;
  top: 30%;
  left: 10px;
  // font-size: 30pt;
  // font-family: 'Times';
  font-family: 'Lato', sans-serif;
  font-size: 25pt;
  font-weight: 900;
  width: 300px;
  // background-color: olivedrab;
}

.barnes,
.noble {
}

.and {
  color: #a4a4a4;
  font-family: 'Times';
  font-weight: 400;
  font-size: 30pt;
  // transform:scale(2, 1)
}

.appbar__right {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: 40%;
  // padding: 10px;
  // height: 20px;
  right: 0px;
  font-family: 'Lato', sans-serif;
  // background-color:#c8dbe1;
  // background-color: blue;
}

.appbar__link {
  margin-right: 15px;
}


// Navigation bar
.navbar {
  display: flex;
  padding-bottom: 10px;
  border-bottom: 1px solid #d8d8d7e1;
  justify-content: center;
  // background-color:#c8dbe1;
  margin-bottom: 50px;
  // width: 900px;
}

.navbar__link {
  margin-right: 30px;
  font-size: 9pt;
}

// Main
.main {
  width: 100%;
  // background-color: pink;
}

.main-image {
  &:hover {
    outline: 1px solid #3b7b58;
    outline-offset: 10px;
    // border: 1px solid green;
    // background-color: rgba(0, 0, 0, 0.5);
  }
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.2);
}

.author-wrap {
  font-size: 14px;
}

.author {
  color: #3b7252;
}

// Product-list

.product-list {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  // flex-wrap: wrap;
  padding: 50px;
  // padding-left: 200px;
  // padding-right: 200px;
  // background-color: yellow;
}

.product-list .product-item {
  // display: flex;
  // flex-direction: column;
  width: 200px;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 40px 80px;
  // background-color: rgb(133, 101, 133);

}

.product-list .title {
  margin-top: 15px;
  font-size: 15pt;
  // font-family: 'Times';
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  // background-color: yellow;
}



// Product Detail

.product-detail {

}

.product-info {
  display: flex;

}

.product-detail .title {
  position: absolute;
  top: 140px;
  right: 0px;
  width: 512px;
  // height: 100px;
  font-size: 27px;
  font-family: 'Times';
  // background-color:greenyellow;

}

.product-detail .author-wrap {
  position: absolute;
  top: 200px;
  right: 0px;
  width: 512px;
  height: 30px;
  border-bottom: 1px solid #d8d8d7e1;
  // background-color: skyblue;
}

.product-detail .title,
.product-detail .author-wrap {
}

.product-detail .main-image {
  margin: 20px 150px 20px;
  // background-color: palevioletred;
}

.cart-form {
  position: absolute;
  top: 250px;
  right: 0px;
  width: 512px;
  display: flex;
  flex-direction: column;
  // background-color: #3b7b58;
}

.cart-form button {
  margin-top: 10px;
  width: 200px;
  height: 40px;
}

.total-wrap {
  position: absolute;
  top: 350px;
  right: 0px;
  width: 512px;
  // background-color: #a4a4a4;
}

.detail-text {
  font-family: bold;
  text-align: center;
  background-color: #f2f2f0;
  padding: 40px;
  margin: 40px;
}

.overview-head {
  font-size: 20pt;
  margin-bottom: 20px;
}

.formats-text, .quantity-text {
  font-size: 12px;
}

.overview {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}


// Cart List
.cart-head {
  font-size: 20pt;
}


// Cart Item
.cart-item .main-image {
  margin: 20px;
  // background-color: palevioletred;
}

.cart-item .title {
  // height: 100px;
  font-size: 27px;
  font-family: 'Times';
  // background-color:greenyellow;

}

.cart-item .author-wrap {
  position: absolute;
  top: 180px;
  right: 0px;
  width: 512px;
  height: 50px;
  // background-color: skyblue;
}



// Footer

// .footer {
//   position: relative;
//   font-size: 10pt;
//   text-align: end;
//   margin-top: 40px;
//   padding: 20px 0px 10px;
//   width: 100%;
//   bottom: 0px;
//   border-top: 1px solid silver;
// }
